services:
  # API Gateway - Single entry point for all client requests
  backtrack-api-gateway:
    image: backtrack-api-gateway:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-api-gateway
    container_name: backtrack-api-gateway
    ports:
      - "5000:5000"
    env_file:
      - ./env/backtrack-api-gateway.docker.env
    volumes:
      - C:\Users\NHATTHANG\FptUniversity\SEP490\backtrack-sep490-firebase-adminsdk-fbsvc-d625f3f3d9.json:/secret/firebase-credentials.json:ro
    networks:
      - backtrack-network
    depends_on:
      - backtrack-core-api
      - backtrack-qr-api
    #   - backtrack-chat
    #   - backtrack-notifications
    restart: unless-stopped

  # BackTrack Core Service - Posts, Search, Matching
  backtrack-core-api:
    image: backtrack-core-api:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-core-api
    container_name: backtrack-core-api
    ports:
      - "8080:8080"
    env_file:
      - ./env/backtrack-core-api.docker.env
    networks:
      - backtrack-network
    restart: unless-stopped

  # BackTrack QR Service - Item and QR Code Management
  backtrack-qr-api:
    image: backtrack-qr-api:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-qr-api
    container_name: backtrack-qr-api
    ports:
      - "4000:4000"
    env_file:
      - ./env/backtrack-qr-api.docker.env
    networks:
      - backtrack-network
    restart: unless-stopped

  backtrack-core-db:
    image: backtrack-core-db:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.postgres-postgis-pgvector
    container_name: backtrack-core-db
    hostname: backtrack-core-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=backtrack-core-db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123
    volumes:
      - backtrack-core-db-data:/var/lib/postgresql/data
    networks:
      - backtrack-network

networks:
  backtrack-network:
    driver: bridge

volumes:
  backtrack-core-db-data:
