services:
  backtrack-api-gateway:
    image: backtrack-api-gateway:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-api-gateway
    container_name: backtrack-api-gateway
    ports:
      - "8080:8080"
    environment:
      - ReverseProxy__Clusters__core-cluster__Destinations__core-destination__Address=http://backtrack-core-api:2000
      - ReverseProxy__Clusters__chat-cluster__Destinations__chat-destination__Address=http://backtrack-chat-api:3000
      - ReverseProxy__Clusters__qr-cluster__Destinations__qr-destination__Address=http://backtrack-qr-api:4000
    env_file:
      - ./env/backtrack-api-gateway.docker.env
    networks:
      - backtrack-network
    restart: unless-stopped

  backtrack-core-api:
    image: backtrack-core-api:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-core-api
    container_name: backtrack-core-api
    ports:
      - "2000:2000"
    environment:
      - ConnectionStrings__RabbitMQ=amqp://backtrack:backtrack123@backtrack-message-broker:5672/
      - ConnectionStrings__PostgresDB=Host=backtrack-core-db;Port=5432;Database=backtrack-core-db;Username=postgres;Password=postgres123
    env_file:
      - ./env/backtrack-core-api.docker.env
    networks:
      - backtrack-network
    # restart: unless-stopped

  backtrack-chat-api:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-chat-api
    container_name: backtrack-chat-api
    ports:
      - "3000:3000"
    environment:
      - MONGODB_CONNECTIONSTRING=mongodb://mongo:mongo123@backtrack-chat-db:27017/backtrack-chat?authSource=admin
      - RABBITMQ_URL=amqp://backtrack:backtrack123@backtrack-message-broker:5672/
    env_file:
      - ./env/backtrack-chat-api.docker.env
    networks:
      - backtrack-network
    restart: unless-stopped

  backtrack-qr-api:
    image: backtrack-qr-api:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backtrack-qr-api
    container_name: backtrack-qr-api
    ports:
      - "4000:4000"
    environment:
      - RABBITMQ_URL=amqp://backtrack:backtrack123@backtrack-message-broker:5672/
      - DATABASE_URI=mongodb://mongo:mongo123@backtrack-qr-db:27017/backtrack-qr-db?authSource=admin
    env_file:
      - ./env/backtrack-qr-api.docker.env
    networks:
      - backtrack-network
    restart: unless-stopped

  backtrack-core-db:
    image: backtrack-core-db:latest
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.postgres-postgis-pgvector
    container_name: backtrack-core-db
    hostname: backtrack-core-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=backtrack-core-db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123
    volumes:
      - backtrack-core-db-data:/var/lib/postgresql/data
    networks:
      - backtrack-network
  
  backtrack-qr-db:
    image: mongo:7-jammy
    container_name: backtrack-qr-db
    hostname: backtrack-qr-db
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_DATABASE=backtrack-qr-db
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=mongo123
    volumes:
      - backtrack-qr-db-data:/data/db
    networks:
      - backtrack-network
    restart: unless-stopped

  backtrack-message-broker:
    image: rabbitmq:3.13-management-alpine
    container_name: backtrack-message-broker
    hostname: backtrack-message-broker
    ports:
      - "5672:5672"   # AMQP protocol
      - "15672:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=backtrack
      - RABBITMQ_DEFAULT_PASS=backtrack123
      - RABBITMQ_DEFAULT_VHOST=/
    volumes:
      - backtrack-message-broker-data:/var/lib/rabbitmq
    networks:
      - backtrack-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  backtrack-chat-db:
    image: mongo:7-jammy
    container_name: backtrack-chat-db
    hostname: backtrack-chat-db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=backtrack-chat
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=mongo123
    volumes:
      - backtrack-chat-db-data:/data/db
    networks:
      - backtrack-network
    restart: unless-stopped

networks:
  backtrack-network:
    driver: bridge

volumes:
  backtrack-core-db-data:
  backtrack-message-broker-data:
  backtrack-chat-db-data:
  backtrack-qr-db-data:

